@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-brand-primary-deep: #006b5c;
  --color-brand-primary: #009b87;
  --color-brand-accent: #00c2a8;
  --color-brand-soft: #f3fbf9;
  --color-brand-border: #68d7c8;
  --color-surface-muted: #fcf8f8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-manrope {
  font-family: var(--font-manrope);
}

.font-plusJakartaSans {
  font-family: var(--font-plus-jakarta-sans) ;
}
